<div class="container-fluid p-0 position-relative">
    <%= image_tag("/images/sail-boat.webp", class: "img-fluid w-100 h-100") %>
    <div class="position-absolute bottom-0 start-0 end-0 text-center text-white">
        <h2 class=" fw-bold">EVENEMENTS NAUTIQUES</h2>
    </div>
</div>

<div class="container-fluid p-4">
    <%= render "explications" %>
</div>