<div class="container">
    <%#= link_to new_user_registration_path(role: "proprietaire"), class: "no-underline" do %>
    <%= link_to new_demande_path(demandeId: "proprietaire"), class: "no-underline" do %>
        <div data-aos="zoom-in-up" class="bloc-etape">    
            <p class="card-text fs-1 m-1"> Etape 1</p>
            <p class="card-text fs-4 m-1"> Contactez-nous en nous fournissant quelques informations sur votre bateau </p>
        </div>
        <div  data-aos="zoom-in-up" class="bloc-etape">    
            <p class="card-text fs-1 m-1"> Etape 2</p>
            <p class="card-text fs-4 m-1"> Nous commercialisons votre bateau et gérons les locations </p>
        </div>
        <div  data-aos="zoom-in-up" class="bloc-etape">    
            <p class="card-text fs-1 m-1"> Etape 3</p>
            <p class="card-text fs-4 m-1"> Vous recevez votre argent en toute tranquilité</p>
        </div>
    <% end %>
</div>