<div class="container">
    <div class="bloc-etape">    
        <p class="card-text fs-1 m-1"> Etape 1</p>
        <p class="card-text fs-4 m-1"> Renseignez quelques informations sur votre bateau </p>
    </div>
    <div class="bloc-etape">    
        <p class="card-text fs-1 m-1"> Etape 2</p>
        <p class="card-text fs-4 m-1"> Mettez en ligne votre annonce </p>
    </div>
    <div class="bloc-etape">    
        <p class="card-text fs-1 m-1"> Etape 3</p>
        <p class="card-text fs-4 m-1"> Trouvez un locataire et recevez votre argent de façon sécurisée </p>
    </div>
</div>