
<h1 class="text-center"> Je propose mon bateau</h1>

<h2 class="m-4"> Bateaux </h2>

<div class="container-bateau">
    <% @produits.each do |produit| %>
        <div class="bloc-bateau">
            <%= produit.nom %>
        </div>
    <% end %>
</div>

<%= link_to "Ajouter un bateau", new_produit_path, class: "btn btn-primary" %>

<h2 class="m-4"> Statistiques </h2>

