<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "document" %>

   <br> <hr> <br>
    
    <div class="brand-colored" style="width: 900px; display: inline-block; text-align: center;">
       <strong> GALAYACHTS </strong> - adresse - galayachts.com <br>
       +33 00 00 00 00  | mail@mail.com
    </div>

</html>