<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "document" %>

   <br> <hr> <br>
    
    <div class="brand-colored" style="width: 900px; display: inline-block; text-align: center;">
        <strong> GALAYACHT </strong> <br>
        <i class="fa fa-location-dot"></i>
        27 Avenue des Frères Roustan,
        06220 Golfe-Juan
        <br>

        <i class="fa fa-phone"></i>
        +33 (0) 626 210 213  |
             
        <i class="fa fa-envelope"></i>
        contact@galayacht.com
    </div>


</html>