<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "application" %>

   <br> <hr> <br>
    
    <div style="color: rgb(204, 46, 102); width: 900px; display: inline-block; text-align: center;">
       <strong> RENT A BOAT </strong> - adresse - www.site.com <br>
       +33 00 00 00 00  | mail@mail.com
    </div>

</html>