<!DOCTYPE html> 

<html>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    

    <div style="position: relative; top: 10px; left: 30px;"> 
      <%#= wicked_pdf_image_tag 'logo1.png' %>
      <%= wicked_pdf_image_tag asset_url('/logo_courant.png'), style: "width: 30px;" %> 
    </div>
    <br> <br> <hr><br>

</html>