<div id="<%= dom_id occupation %>">
  <p>
    <strong>Debut:</strong>
    <%= occupation.debut %>
  </p>

  <p>
    <strong>Fin:</strong>
    <%= occupation.fin %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= occupation.produit_id %>
  </p>

</div>
