<h1>Editing occupation</h1>

<%= render "form", occupation: @occupation %>

<br>

<div>
  <%= link_to "Show this occupation", @occupation %> |
  <%= link_to "Back to occupations", occupations_path %>
</div>
