

<div data-controller="newrecord" data-action="turbo:submit-end->newrecord#submitEnd">
  <div id="occupations" class="container-fluid">
    <div class="row justify-content-center">
      <% @occupations.each do |occupation| %>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
          <%= render occupation %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div role="button" data-action="click->newrecord#openDropdown" 
    data-newrecord-target="openButton" 
    class="fa-solid fa-add btn btn-warning btn-action">
  </div>
  <div role="button" data-action="click->newrecord#closeDropdown" 
    data-newrecord-target="closeButton" 
    class="fa-solid fa-close btn btn-danger btn-action">
  </div>

  <div data-newrecord-target="newrecordContent">
    <div id="new_occupation">
      <%= render partial: "occupations/form", locals: {occupation: Occupation.new} %>
    </div>
  </div>
</div>


<hr>  

