<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 100%;">
    <% if produit.image1.attached? %>
      <div class="carousel-item active">
        <div class="d-flex align-items-center justify-content-center h-100">
          <%= link_to image_tag(produit.image1, class: "img-produit rounded"), produit_path(produit) %>
        </div>
      </div>
    <% end %>

    <% produit.medias.each do |media| %>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center h-100">
          <% if media.image? %>
            <%= link_to image_tag(media, class: "img-produit rounded"), produit_path(produit) %>
          <% elsif media.video? %> 
            <%= video_tag(url_for(media), class: "w-100", controls: "") %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
