
    <div class="text-center my-2">    
        <% provide :head_tags do %>
        <% end %>

            <iframe style="border: 0;" src="https://www.google.com/maps/embed/v1/search?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>
            &q=<%= @produit.city %>
            &zoom=14&maptype=satellite" width="350" height="350" frameborder="0" allowfullscreen="allowfullscreen">
            </iframe>

    </div>

