<div class="container" style="max-width: 800px;">

  <%= render "form", produit: @produit %>

  <br>

  <div>
    <%#= link_to "Show this produit", @produit %> 
    <%#= link_to "Back to produits", produits_path %>
  </div>

</div>