<p style="color: green"><%= notice %></p>


<%= render @produit %>

<div class="container-fluid">
  <%= render "map" %>
</div>

 <hr>

 <div>
  test disponibilité : <br>

  <%= render @occupations %>
 
 </div>