<p style="color: green"><%= notice %></p>

<%= render @produit %>

<hr>

  <%#= render "shared/calendar", schedules: @schedules %>

  <%= render 'shared/full_calendar' %> 

<hr>

<div class="container-fluid">
  <%= render "map" %>
</div>

 <hr>

