<p style="color: green"><%= notice %></p>

<%= render @produit %>

<hr>


  <%#= render "shared/calendar" %>

  <%= render 'shared/calendar', schedules: @schedules %>


<hr>

<div class="container-fluid">
  <%= render "map" %>
</div>

 <hr>

