<div id="<%= dom_id occupation_produit %>">
  <p>
    <strong>Debut:</strong>
    <%= occupation_produit.debut %>
  </p>

  <p>
    <strong>Fin:</strong>
    <%= occupation_produit.fin %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= occupation_produit.produit_id %>
  </p>

</div>
