
<% if user_signed_in? %>
  
  <p style="color: green"><%= notice %></p>
  <%= render @user %>

  <hr>

  <% if user_preneur.present?%>
    <%= render partial: 'preneurs/preneur', locals: { preneur: user_preneur } %>
  <% end %>

  <% if user_bailleur.present?%>
    <%= render partial: 'bailleurs/bailleur', locals: { bailleur: user_bailleur } %>
  <% end %>
  
<hr>
    


<% end %>