
<div class="card main-card">

  <h3 class="m-2"> Calendrier </h3>

  <div data-controller="newrecord" data-action="turbo:submit-end->newrecord#submitEnd">
    <div id="schedules" class="container-fluid">
      <% @schedules.each do |schedule| %>
        <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center mb-1">
            <%= render schedule %>
          </div>
        </div>
      <% end %>
    </div>

    
    <div role="button" data-action="click->newrecord#openDropdown" 
      data-newrecord-target="openButton" 
      class="fa-solid fa-add btn btn-warning btn-action">
      <span class="fs-6"> Bloquer periode</span>
    </div>
    <div role="button" data-action="click->newrecord#closeDropdown" 
      data-newrecord-target="closeButton" 
      class="fa-solid fa-close btn btn-danger btn-action">
    </div>

    <div data-newrecord-target="newrecordContent">
      <div id="new_schedule">
        <%= render partial: "schedules/form", locals: {schedule: Schedule.new} %>
      </div>
    </div>
  </div>

  <hr>  

  <!-- with CDN and browser environment namespace -->

  <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

  <script>
    const Calendar = tui.Calendar;
  </script>


  <div id="tui_calendar">
      <%= render "shared/tui_calendar" %>
  </div>

</div>

