
<div class="fw-bold text-center mt-2">
    <p>
        <i class="fa fa-xl fa-phone mx-2"></i>
        +33 (0) 626 210 213
    </p>

    <p>
        <i class="fa fa-xl fa-envelope mx-2"></i>
        <a href="mailto:contact@galayacht.com" class="no-underline">contact@galayacht.com</a>
    </p>
    <p>
        <i class="fa fa-xl fa-location-dot mx-2"></i>
        <a href="https://www.google.com/maps?q=27+Avenue+des+Fr%C3%A8res+Roustan,+06220+Golfe-Juan" class="no-underline">
        27 Avenue des Frères Roustan, 06220 Golfe-Juan</a>
    </p>
</div>