
<div class="fw-bold text-center">
    <p>
        <i class="fa fa-phone"></i>
        +33 (0) 626 210 213
    </p>

    <p>
        <i class="fa fa-envelope"></i>
        contact@galayacht.com
    </p>
    <p>
        <i class="fa fa-location-dot"></i>
        27 Avenue des Frères Roustan,
        06220 Golfe-Juan
    </p>
</div>