<div class="container p-3" style="max-width: 800px;">

  <div class="container mb-3">
    <%#= image_tag("svgs/svg1.svg?#{Time.now.to_i}", 
      width: 250, height: 250, alt: "Animated GIF", 
      data: { controller: "reanimate", "reanimate-target": "gif" }) %>
  </div>

  <p>
    Bienvenue chez Galayacht, votre partenaire de confiance pour la location de yachts sur la splendide Côte d'Azur, 
    notamment à Cannes, Golfe Juan, Antibes, Mandelieu, et au-delà. 
    Notre société est spécialisée dans la location de yachts de prestige et l'organisation d'événements nautiques mémorables. 
    Nous sommes là pour concrétiser vos rêves maritimes, quel que soit la dimension de votre projet ou votre budget.
  </p>

  <p>
      Que vous souhaitiez louer un yacht, un voilier, ou un maxi-catamaran, 
      Galayacht vous offre une flotte de bateaux d'une qualité exceptionnelle. 
      Notre équipe de professionnels passionnés se tient prête à répondre à toutes vos attentes, 
      que ce soit pour une location de bateau ou la planification d'un événement unique en mer.
  </p>

  <div class="container mb-3">
    <%#= image_tag("svgs/svg2.svg?#{Time.now.to_i}", 
      width: 250, height: 250, alt: "Animated GIF", 
      data: { controller: "reanimate", "reanimate-target": "gif" }) %>
  </div>

  <p>
    Louer un yacht sur la Côte d'Azur est le choix idéal pour des événements privés ou publics. 
    Imaginez-vous à bord de votre propre yacht, amarré dans le port de Cannes, de Golfe Juan, d'Antibes, de Mandelieu, 
    profitant de moments uniques pour sublimer votre événement ou vous détendre en vacances. 
  </p>

  <p>
    Chez Galayacht, nous mettons tout en œuvre pour que votre expérience soit inoubliable.
    Vous avez la flexibilité de louer un bateau pour une journée ou plusieurs semaines, 
    que ce soit pour une soirée glamour, un événement exclusif, ou des vacances en famille. 
    Nous sommes là pour créer un projet sur mesure, depuis la magnifique Côte d'Azur 
    jusqu'à d'autres destinations de rêve dans le monde entier.
    Optez pour Galayacht et découvrez le plaisir de la navigation ou toute tranquillité. 
  </p>

  <div class="container mb-3">
    <%#= image_tag("svgs/svg3.svg?#{Time.now.to_i}", 
      width: 250, height: 250, alt: "Animated GIF", 
      data: { controller: "reanimate", "reanimate-target": "gif" }) %>
  </div>

  <p>
    Réservez dès maintenant votre yacht de rêve et préparez-vous à vivre des moments exceptionnels en mer. 
    Notre passion, c'est de rendre vos rêves de navigation réalité.  
    Pour une expérience maritime inoubliable, faites confiance à Galayacht, votre expert en location de bateaux.
  </p>

  <p>
    Cannes, location de bateau, location de yacht, louer un yacht, location de bateau à Cannes, location de yacht à Cannes, 
    louer un yacht à Cannes, location de bateau de luxe, louer un yacht de prestige, côte d'azur, 
    événements nautiques, Galayacht.
  </p>

</div>
