
<p> 
    <%= link_to "", "https://www.pinterest.fr/", 
        class:"fa-brands fa-pinterest btn-reseaux zoom", 
        alt: "Aller vers Pinterest",
        'aria-label' => "Ouvrir pinterest" %>
</p>

<p> 
    <%= link_to "", "https://www.facebook.com/people/GALA-YACHT/100092488322369/", 
            class:"fa-brands fa-facebook btn-reseaux zoom", 
            alt: "Aller vers Facebook",
            'aria-label' => "Ouvrir facebook" %>
</p>

<p> 
    <%= link_to "", "https://www.instagram.com/galayacht/", 
            class:"fa-brands fa-instagram btn-reseaux zoom", 
            alt: "Aller vers Instagram",
            'aria-label' => "Ouvrir instagram"
            %> 
</p>
