
<p> <%= link_to "", "https://www.pinterest.fr/", class:"fa-brands fa-pinterest btn-reseaux zoom" %> </p>
<p> <%= link_to "", "https://www.facebook.com/", class:"fa-brands fa-facebook btn-reseaux zoom" %> </p>
<p> <%= link_to "", "https://www.instagram.com/", class:"fa-brands fa-instagram btn-reseaux zoom" %> </p>
