
<p> <%= link_to "", "https://www.pinterest.fr/", class:"fa-brands fa-pinterest btn-reseaux zoom", alt: "Aller vers Pinterest" %> </p>
<p> <%= link_to "", "https://www.facebook.com/", class:"fa-brands fa-facebook btn-reseaux zoom", alt: "Aller vers Facebook" %> </p>
<p> <%= link_to "", "https://www.instagram.com/", class:"fa-brands fa-instagram btn-reseaux zoom", alt: "Aller vers Instagram" %> </p>
