<div data-controller="calendar">


      <div id="calendar-nav">

        <div id='month' class="btn btn-primary view-link">
          month
        </div>
        <div id='week' class="btn btn-primary view-link">
          week
        </div>
        <div id='day' class="btn btn-primary view-link">
          day
        </div>
     
        <div id='previous-link' class="btn btn-success view-link">
            <i class="fas fa-arrow-left"></i>
            <span id="prev-month"></span>
        </div>

        <div id='current-link' class="btn btn-success view-link">
            <i class="bg-primary"></i>
            <span id="current-month"></span>
        </div>

        <div id='next-link' class="btn btn-success view-link">
            <span id="next-month"></span>
            <i class="fas fa-arrow-right"></i>
        </div>


      </div>


    <%= tag.div nil, data: {schedules: @schedules.to_json}, 
        id: "calendar", 
        class: "container-calendar text-center" %>
</div>