
 <div id="divtoupdate"> 


    <script>
        var Calendar = tui.Calendar;
    </script>


    <div data-controller="calendar-tui">

        <div class="row p-2 text-center">
            <div class="col-2 text-center">
                <div id='current-month-link' class="btn btn-sm btn-primary view-link">
                    <i class="fas fa-calendar fa-xs"></i>
                
                </div>
            </div>
            <div class="col-8 justify-content-center">
            
                <div id='previous-link' class="btn btn-sm btn-outline-secondary view-link">
                    <i class="fas fa-arrow-left fa-xs"></i>
                    <span id="prev-month"></span>
                </div>

                <div id='current-link' class="btn btn-sm btn-outline-secondary view-link">
                    <i class=""></i>
                    <span id="current-month"></span>
                </div>

                <div id='next-link' class="btn btn-sm btn-outline-secondary view-link">
                    <span id="next-month"></span>
                    <i class="fas fa-arrow-right fa-xs"></i>
                </div>

            </div>
            <div class="col-2 text-center">
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle m-0 p-1" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-display fa-xs"></i>
                        
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item view-link" type="button" id='day'>jour</button></li>
                        <li><button class="dropdown-item view-link" type="button" id='week'>semaine</button></li>
                        <li><button class="dropdown-item view-link" type="button" id='month'>mois</button></li>
                    </ul>
                </div>

            </div>
        </div>

    <%= tag.div nil, data: {schedules: @schedules.to_json}, 
        id: "calendar", 
        class: "container-calendar text-center" %>


    </div>

</div>

