<%# landing page avant log ou choix preneur bailleur %>


 
    <%= link_to espace_preneur_index_path, class: "no-underline" do %>
        <div data-aos="zoom-in-up" class="image-container">
            <%= image_tag "motor boat.jpg", class: "img-main" %> 
            <div class="text-overlay">
                <h2>Louer un bateau</h2>
                <p class="mt-2">  Découvrez notre sélection de bateaux et de destinations...  </p>
            </div>
        </div>
    <% end %>

    <hr class="my-4">
    
    <%= link_to espace_bailleur_index_path, class: "no-underline" do %>
        <div data-aos="zoom-in-up" class="image-container">
            <%= image_tag "sail boat.jpg", class: "img-main" %> 
            <div class="text-overlay">
                <h2>Proposer un bateau</h2>
                <p class="mt-2">  Retrouvez nos outils pour proposer votre bateau à la location...  </p>
            </div>
        </div>
    <% end %>  

