<% description "Bienvenue chez Galayacht. Solution facile pour louer un bateau ou un yacht et plus à Cannes, Mandelieu, Antibes." %>
<% keywords "Antibes, location de bateau, louer yacht, louer bateau, location bateau cote azur, louer bateau mandelieu" %>

<h1 style="position: absolute; left: -9999px;"> 
  Accueil Galayacht - Location bateau Mandelieu - Antibes - Cannes 
</h1>


<div class="video-container">
    <video autoplay loop muted playsinline id="video-background">
        <source src="/videos/sea-waves-mini.mp4" type="video/mp4">
    </video>
    <span class="d-flex flex-wrap justify-content-center">
    
        <div class="form-container d-block">
            <h3 class="text-center fw-bold my-2 title-styled">
            Trouvez votre bateau idéal

                <div data-turbo="false"> <%# fait fonctionner le carroussel %>
                    <%= link_to "Voir tous les bateaux", produits_path, class: "w-100 btn primary-colored fw-bold my-4" %>
                </div>
            </h3>
            <%= render "produits/form_recherche_bateau" %>
        </div>
    </span>
</div>
<div class="video-container">
    <video autoplay loop muted playsinline id="video-background">
        <source src="/videos/motor-boat-mini.mp4" type="video/mp4">
    </video>
    <span class="d-flex flex-wrap justify-content-center">
        <div class="form-container primary-colored">   
            <div data-turbo= "false"> <%# fait fonctionner le carroussel %>
         
                <%= link_to produits_path, class: "no-underline" do %>
                    <h2 class="title-styled mb-4">Louer un bateau</h2>
                    <p class="mt-2 fs-4 fw-bold text-dark text-center">  
                        Découvrez la sélection Galayacht de bateaux et de destinations
                    </p>
                    <p class="my-3 btn primary-colored fw-bold w-100 btn-text-styled">
                        Voir les bateaux
                    </p>
                <% end %>
            </div>
        </div>
    </span>
</div>
<div class="video-container">
    <video autoplay loop muted playsinline id="video-background">
        <source src="/videos/sailing-boat-mini.mp4" type="video/mp4">
    </video>
    <span class="d-flex flex-wrap justify-content-center">
        <div class="form-container primary-colored">            
            <%= link_to espace_bailleur_index_path, class: "no-underline " do %>
                <h2 class="title-styled mb-4">Proposer un bateau</h2>
                <p class="mt-2 fs-4 fw-bold text-dark text-center">  
                    Retrouvez nos outils pour proposer votre bateau à la location
                </p>
                <p class="my-3 btn primary-colored fw-bold w-100 btn-text-styled">
                    En savoir plus
                </p>
            <% end %>
        </div>
    </span>
</div>


