<%# landing page avant log ou choix preneur bailleur %>

<div class="container ">
    
    <%= link_to espace_preneur_index_path, class: "" do %>
        <div data-aos="zoom-in-up" class="image-container">
            <%= image_tag "/images/motor-boat.webp", class: "img-main" %> 
        </div>
    <% end %>


</div>

