
<div class="max-widthed">   

    <h2>Mentions légales</h2>

    <div class="container py-4">

        Nous vous prions de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. 

        En vous connectant sur ce site, vous acceptez sans réserve les modalités qui suivent.

        <h3>  Editeur du Site </h3>

        GALAYACHTS.com
        Responsable : 
        Siège social : 
        Téléphone : 
        Email : 
        Site Web : https://galayachts.com/

        <h3> Hébergement  </h3>

        Hébergeur : 

        <h2> Conditions d'utilisation  </h2>

        <h3>Langages web recommandés  </h3>
        <p>
            Pour un meilleur confort d'utilisation et un graphisme agréable, nous recommandons l'utilisation de navigateurs modernes tels que Internet Explorer, Safari, Firefox, Google Chrome, etc.
        </p>

        <h3>Exactitude des informations  </h3>
        <p>
            GALAYACHTS s'efforce de fournir des informations fiables et mises à jour sur ses sites internet. Cependant, des erreurs ou omissions peuvent survenir. Les utilisateurs doivent vérifier l'exactitude des informations auprès de GALAYACHTS et signaler toute modification jugée nécessaire.
        </p>
        <h3>Responsabilité de l'utilisation des informations  </h3>
        <p>
            GALAYACHTS n'est en aucun cas responsable de l'utilisation faite des informations fournies sur ses sites internet et de tout préjudice direct ou indirect qui pourrait en découler.
        </p>

        <h3>Cookies  </h3>
        <p>
            Le site seaone-yachting.com peut utiliser des cookies à des fins statistiques et d'affichage. Un cookie est un fichier texte stocké sur votre ordinateur qui permet au serveur du site de lire et d'enregistrer certaines informations. Certaines parties du site peuvent nécessiter l'acceptation des cookies pour fonctionner correctement.
        </p>

        <h3>Liens hypertextes  </h3>
        <p>
            Les sites internet peuvent contenir des liens vers d'autres ressources en ligne. GALAYACHTS n'a aucun contrôle sur ces sites et ne garantit pas leur disponibilité. Elle décline toute responsabilité quant au contenu de ces sites ou sources externes, y compris les informations, produits ou services qu'ils proposent. L'utilisation de ces éléments se fait aux risques de l'internaute, qui doit se conformer à leurs conditions d'utilisation.
        </p>

        <h3>Hyperliens vers le site  </h3>
        <p>
            Toute création d'un hyperlien vers le site de GALAYACHTS nécessite une autorisation expresse et préalable de cette dernière.
        </p>

        <h3>Services fournis  </h3>
        <p>
            Le site seaone-yachting.com présente les activités et informations de la société GALAYACHTS. Les informations fournies sur le site sont données à titre indicatif et peuvent être modifiées sans préavis. Les photos sont non contractuelles.
        </p>

        <h3>Limitations contractuelles sur les données  </h3>
        <p>
            Bien que le site soit mis à jour régulièrement, il peut contenir des inexactitudes ou des omissions. Si vous constatez un problème, veuillez le signaler par email à contact@seaone.fr en fournissant des détails précis sur le problème rencontré.
        </p>

        <h3>Responsabilité des téléchargements et de l'utilisation du site  </h3>
        <p>
            Tout téléchargement de contenu se fait aux risques de l'utilisateur. GALAYACHTS décline toute responsabilité en cas de dommage à l'ordinateur de l'utilisateur ou de perte de données résultant du téléchargement. L'utilisateur s'engage à utiliser un matériel récent, exempt de virus et à jour.
        </p>

        <h3>Propriété intellectuelle   </h3>
        <p>
            Le contenu du site seaone-yachting.com, y compris les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes, est la propriété exclusive de GALAYACHTS, sauf indication contraire. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces éléments, même partielle, est strictement interdite sans l'accord écrit de GALAYACHTS.
        </p>

        <h3>Données personnelles </h3>

        <h4>Collecte de données  </h4>
        <p>
            Lors de l'utilisation de certains services proposés sur notre site seaone-yachting.com, il peut vous être demandé de fournir des informations personnelles telles que votre nom, votre fonction, le nom de votre société, votre adresse électronique et votre numéro de téléphone. Cela peut se produire lorsque vous remplissez un formulaire en ligne dans la rubrique "Contact" ou lors de la réservation d'un bateau.
        </p>

        <h4>Refus de fournir des données personnelles  </h4>
        <p>
            Vous avez la possibilité de refuser de fournir vos données personnelles. Cependant, dans ce cas, vous ne pourrez pas utiliser certains services du site, notamment ceux liés à la demande de renseignements sur notre société, à la location d'un bateau ou à la réception de newsletters.
        </p>

        <h4>Collecte automatique d'informations  </h4>
        <p>
            Lors de votre simple navigation sur notre site Internet, certaines informations vous concernant peuvent être collectées automatiquement, telles que des données sur l'utilisation du site (pages visitées, services utilisés), votre adresse IP, le type de navigateur utilisé et les temps d'accès. Ces informations sont exclusivement utilisées à des fins de statistiques internes dans le but d'améliorer la qualité des services proposés.
        </p>

        <h4>Protection des données  </h4>
        <p>
            Les bases de données sont protégées conformément aux dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
        </p>
    </div>

</div>