<div class="max-widthed">   

    <h1 class="mb-4">Politique de confidentialité</h1>

    <div class="container py-4">

        <h2>Collecte de données personnelles</h2>
        <p>
            Bienvenue sur le site web de Galayacht !
        </p>
        <p>
            Nous prenons votre vie privée très au sérieux et nous nous engageons à protéger vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les données que vous nous fournissez lorsque vous utilisez notre site web.
        </p>
        
        <h2>Collecte de données personnelles</h2> 
        <p>
            Lorsque vous laissez un commentaire sur notre site web, nous collectons les informations que vous avez fournies dans le formulaire de commentaire, ainsi que votre adresse IP et les détails de votre navigateur, afin de détecter les commentaires indésirables.
        </p>
        <p>
            Si vous téléversez des images sur notre site en tant qu'utilisateur enregistré, nous vous recommandons d'éviter de téléverser des images contenant des données de localisation GPS. Les visiteurs de notre site pourraient extraire ces données de localisation depuis les images.
        </p>

        <h2>Utilisation des cookies</h2>
        <p>
            Lorsque vous déposez un commentaire sur notre site, vous avez la possibilité d'enregistrer votre nom, votre adresse e-mail et votre site web dans des cookies. Cela facilite votre utilisation future du site en évitant d'avoir à saisir à nouveau ces informations. Ces cookies expirent au bout d'un an.
        </p>
        <p>
            Lorsque vous vous connectez à votre compte, nous utilisons des cookies pour enregistrer vos informations de connexion et vos préférences d'écran. Ces cookies ont une durée de vie de deux jours. Si vous sélectionnez l'option "Se souvenir de moi", votre cookie de connexion sera conservé pendant deux semaines. Lorsque vous vous déconnectez de votre compte, le cookie de connexion est supprimé.
        </p>
        <h2>Contenu intégré depuis d'autres sites web </h2>
        <p>
            Certains articles de notre site peuvent inclure du contenu intégré (par exemple des vidéos, des images, des articles) provenant d'autres sites web. Ce contenu se comporte de la même manière que si vous visitiez directement ces autres sites web.
        </p>
        <p>
            Ces sites web tiers peuvent collecter des données vous concernant, utiliser des cookies et suivre vos interactions avec leur contenu intégré, notamment si vous disposez d'un compte connecté sur leur site web.
        </p>

        <h2>Stockage et durée de conservation des données </h2>
        <p>
            Si vous laissez un commentaire sur notre site, votre commentaire et ses métadonnées sont conservés indéfiniment. Cela nous permet d'approuver automatiquement les commentaires suivants au lieu de les placer en file d'attente de modération.
        </p>
        <p>
            Pour les utilisateurs enregistrés sur notre site, nous stockons également les données personnelles indiquées dans leur profil. Vous pouvez accéder à ces informations, les modifier ou les supprimer à tout moment, à l'exception de votre nom d'utilisateur. Les gestionnaires du site ont également accès et peuvent modifier ces informations.
        </p>

        <h2>Vos droits sur vos données personnelles </h2>
        <p>
            Si vous avez un compte sur notre site ou si vous avez laissé des commentaires, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous détenons à votre sujet, y compris celles que vous nous avez fournies. Vous pouvez également demander la suppression de vos données personnelles. Veuillez noter que certaines données peuvent être conservées à des fins administratives, légales ou de sécurité.
        </p>
    </div>

</div>