

    <div class="image_wrapper">
        <div class="bg-success sized">
            conteneur panorama
        </div>
        <div class="overlay">
            profile pic   
        </div>
        <div class="bg-warning sized">
            conteneur text
        </div>

    </div>


<style>

   .sized{
        height: 250px;
        width: 80vw;
       /* min-height: 200px; */
   }

    .image_wrapper {
        position: relative;
    }

    .overlay {
        position: absolute; 
        background: rgba(57, 57, 57, 0.5);
        border-radius: 50%;
        width: 10em;
        height: 10em;
        overflow: hidden;
        left: 0;
        top: 35%;
        background: #f4208f;
    }


</style>
