
  <div class="chartBox mx-auto">
    <canvas id="myChartPie"></canvas>
  </div>

  <% cloturees = reservations_cloturees()  %>
  <% avenir = reservations_avenir()  %>
  <% @data = [cloturees, avenir] %>
  <% @nbTotal = @data.sum %>

<script>
  var couleur1 = 'rgb(116, 159, 130)';
  var couleur2 = 'rgb(66, 95, 87)';

  var nbTotal = <%= @nbTotal %>; // a changer par la somme article sous article

  var centerTextDoghnutResa = {
    id: 'centerTextDoghnutResa',
    afterDatasetsDraw(chart, args, pluginOptions){
      const { ctx } = chart;
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      ctx.font = "bold 12px sans-serif";
      const text = "total " + nbTotal ;
      const textWidth = ctx.measureText(text).width;
      const x = chart.getDatasetMeta(0).data[0].x;
      const y = chart.getDatasetMeta(0).data[0].y;
      ctx.fillText(text, x, y);
    }
  }

   var dataPieResa = {
      labels: ['cloturées', 'à venir'],
      datasets: [{
        data: <%= @data.to_json.html_safe %>,
        fill: true,
        backgroundColor: [ couleur1, couleur2 ],
        borderWidth: 1
      }]
    };

    var configPieResa = {
      type: 'doughnut',
          data: {
            labels: ['cloturées', 'à venir'],
            datasets: [{
              data: <%= @data.to_json.html_safe %>,       
              backgroundColor: [ couleur1, couleur2 ],
              hoverOffset: 40,
              borderWidth: 1,
              cutout: '50%'
            }]
          },
          options: {
            animation: {
              animateRotate: true,
              duration: 5000
            },
            plugins: {
              legend: {
                display: true,
                position: 'top',
              },
            },

          },
          plugins: [centerTextDoghnutResa]
        };

  var myChartResa = new Chart(
    document.getElementById('myChartPie'),
    configPieResa
  );

</script>

