
<div class="container-fluid p-4 my-4">
        <h2 class=" fw-bold"> LOCATION BATEAUX A CANNES</h2>
        <%= link_to "Voir tous les bateaux", produits_path, class: "btn primary-colored fw-bold my-2 px-5" %>
</div>

<div class="container-fluid p-4">
    <%#= contenu location bateau a cannes %>
</div>