<div id="<%= dom_id admin_parameter %>">
  <p>
    <strong>Remuneration:</strong>
    <%= admin_parameter.remuneration %>
  </p>

  <p>
    <strong>Hautesaison:</strong>
    <%= admin_parameter.hautesaison %>
  </p>

  
  <p>
    <strong>conditions générales:</strong>
    <%= admin_parameter.conditions_generales %>
  </p>

</div>
