<h1 class="mt-5 h1-styled">Editing admin parameter</h1>

<div class="container-fluid"> 
  <%= render "form", admin_parameter: @admin_parameter %>
</div>

<br>

<div>
  <%= link_to "Show this admin parameter", @admin_parameter %> |
  <%= link_to "Back to admin parameters", admin_parameters_path %>
</div>
