<h1 class="h1-styled">Editing admin parameter</h1>

<%= render "form", admin_parameter: @admin_parameter %>

<br>

<div>
  <%= link_to "Show this admin parameter", @admin_parameter %> |
  <%= link_to "Back to admin parameters", admin_parameters_path %>
</div>
