<p style="color: green"><%= notice %></p>

<h1 class="mt-5">Contrats</h1>

<%= link_to "New contrat", new_contrat_path %>

<div id="contrats">
  <% @contrats.each do |contrat| %>
    <%= render contrat %>
    <p>
      <%= link_to "Show this contrat", contrat %>
    </p>
  <% end %>
</div>
