<h1>Nouvelle reservation</h1>

<%= render "form", reservation: @reservation %>

<br>

<div class="container-fluid text-start">
  <%= link_to "", reservations_path, class: "btn btn-secondary fa-solid fa-arrow-rotate-left" %>
</div>
