/*
 *= require_tree .
 *= require_self


 */

 
 .navbar{
    background-color: #05124d;   
 }

 .footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   padding: 5px;
 }
 

 .brand{
    font-size: x-large;
 }

 .no-underline {
    text-decoration: none;
  }

 .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  
  .bloc {
    width: 90%;
    height: 300px;
    color: #05124d;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  10px 10px 30px #bebebe,
                -10px -10px 30px #b1abc5;
  }

.container-parent{
   overflow: auto;
   white-space: nowrap;
   display: flex;
   align-items: center;
}

.bloc-enfant{
   display: inline-block;
   color: white;
   text-align: center;
   padding: 6px;
   text-decoration: none;
   width: 280px;
  /* height: 320px;*/
   color: #05124d;
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
   margin: 10px;

}

.bloc-etape{
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  width: 100%;
 /* height: 320px;*/
  color: #05124d;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow:  10px 10px 30px #bebebe,
              -10px -10px 30px #b1abc5;

}
  
 .text-bg-effect{
   background-image: url(theoule.jpg);
   background-repeat: repeat;
   background-clip: content-box;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   line-height: 1;
   text-transform: uppercase;
   font-family: 'Steelfish Rg', 'helvetica neue',
               helvetica, arial, sans-serif;
   font-weight: 900;
   -webkit-font-smoothing: antialiased;
   border-top: 20px solid transparent; /* Set the border style for the top only, and make it transparent */
   border-image: url(theoule.jpg) 20 repeat; /* Set the border image, its width and its repeat mode */

}

.image-container {
   position: relative;
   display: inline-block;
   overflow: hidden;
   border-radius: 50px;
   background-color: transparent; /* or white */

 }

 .img-main{
   max-width: 100%;
   height: 20em;
 }
 
 .text-overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 20px;
   
 }
 
 .text-overlay h2 {
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   line-height: 1.2;
   text-transform: uppercase;
   font-family: 'Steelfish Rg', 'helvetica neue',
               helvetica, arial, sans-serif;
   font-weight: 900;
 }
 
 .text-overlay p {
   font-size: 26px;
   margin-bottom: 0;
   text-align: center;
   font-weight: bold;
   line-height: 1.4;
   font-family: 'Steelfish Rg', 'helvetica neue',
               helvetica, arial, sans-serif;
   font-weight: 400;
 }

 .input-group{
  margin: 5px;
 }
 
 .label-with-format{
  font-size: medium;
  font-weight: bold;
  padding-left: .4em;
  
}

.field-with-format{
  padding: .1em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: medium;

}

.chartBox {
  max-width: 230px;
  max-height: 230px;
  padding: .2em;
  margin: .2em;
  border-radius: 20px;
  border: solid 2px rgba(50, 50, 50, 1);
  background: white;
}

.title{
  background-color: #05124d;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 5px;
}