/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar{
    background-color: #05124d;   
 }

 .brand{
    font-size: x-large;
 }

 .no-underline {
    text-decoration: none;
  }

 .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh; 
  }
  
  .bloc {
    width: 300px;
    height: 260px;
    color: #05124d;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #b1abc5;
  }



  
  