/*= require_tree . */
/*= require_self */

* {

  font-family: 'Capriola', sans-serif;
  font-display: swap;

 }
 

:root {
  --primary-color: #100775;
 /* --max-width: 1200px;*/
}

.primary-colored{
  background-color: var(--primary-color);
  color: white;
}

.primary-colored:hover {
  background-color: rgb(102, 160, 248);
  color: black;
}

body {
  /*background-image: url('svg/waves.svg'); */
 }
 
 .h1-styled{
  text-align: center;
  width: 90vw;
  max-width: var(--max-width); 
  background-color: var(--primary-color); 
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 50px;
 }

 .navbar{
   /* background-color: var(--primary-color);   */
   position: fixed; /* Fixed position to stay at the top */
   top: 0; /* Stick to the top of the viewport */
   left: 0;
   right: 0;
   background-color: rgba(1, 3, 51, 0.5); /* Set background color to white with 0.7 (70%) opacity */
   z-index: 2; /* Higher z-index to render above content */
   
   box-shadow: 2px 2px 4px #383737,
               -2px -4px 0px #ffffff;
 }

 .bg-transparent{
  background-color: transparent; /* Set background color to transparent */
 }

 .navbar-toggler-icon {
  font-size: 10px; /* Adjust this value to your desired size */
}

.navbar-brand{
  font-size: 20px;
}

 .nav-link{
  font-weight: bold;
  font-size: medium;
 }
.footer {
    display: flex;
   justify-content: space-between;
   align-items: center; 
   margin: 5px;
   padding: 5px;
 } 

 #flash {
 /* margin-top: 50px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand{
  font-size: x-large;
}

.no-underline {
  text-decoration: none;
}

.link-mention{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.container-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 /* max-width: 1200px;
  padding: 20px;*/
}

.container-second{
  width: 90vw;
  max-width: 1200px;
  padding: 20px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  10px 10px 30px #bebebe,
                -10px -10px 30px #b1abc5;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-produit{
  width: 90vw;
  max-width: 1200px;
  padding: 20px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  10px 10px 30px #bebebe,
                -10px -10px 30px #b1abc5;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}


.container-calendar{
  width: 100%;
  height: 400px;
  padding: 2px;
}

.max-widthed{
  max-width: 1500px;
}

.card-title{
  color: #05124d;
  text-align: center;
  font-weight: 900;
}
  
.bloc {
  width: 90%;
  height: 300px;
  color: #05124d;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  10px 10px 30px #bebebe,
              -10px -10px 30px #b1abc5;
}

.container-parent{
  overflow: auto;
  white-space: nowrap; 
  display: flex;
  width: 90vw;
  max-width: var(--max-width); 
}

.bloc-enfant{
   display: inline-block;
   color: white;
   text-align: center;
   padding: 6px;
   text-decoration: none;
   width: 240px;
  /* height: 320px;*/
   color: #05124d;
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
   margin: 5px;

}

.bloc-etape{
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  width: 100%;
 /* height: 320px;*/
  color: #05124d;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /*margin: 30px;*/
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  box-shadow:  10px 10px 30px #bebebe,
              -10px -10px 30px #b1abc5;
}
  
 .text-bg-effect{
   background-image: url(/images/theoule.webp);
   background-repeat: repeat;
   background-clip: content-box;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   line-height: 1;
   text-transform: uppercase;
   font-family: 'Steelfish Rg', 'helvetica neue',
               helvetica, arial, sans-serif;
   font-weight: 900;
   -webkit-font-smoothing: antialiased;
   border-top: 20px solid transparent; /* Set the border style for the top only, and make it transparent */
   border-image: url(/images/theoule.webp) 20 repeat; /* Set the border image, its width and its repeat mode */

}

.image-container {
   position: relative;
   display: inline-block;
   overflow: hidden;
   border-radius: 50px;
   background-color: transparent; 
   width: 80vw;
   max-width: var(--max-width); 
 }

 .img-main{

    width: 100%;
    height: 60vh;
   /* max-height: 500px; */
    object-fit: cover;
 }

 .img-wrapper {
  height: 40vh;
  position: relative;
  overflow: hidden;
}


.img-wrapper-destination {
  height: 30vh;
  position: relative;
  overflow: hidden;

}

/* Style the image to fill the container width while maintaining aspect ratio */
.img-produit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Center the image horizontally when it's taller than the container */
}

 .main-card{
  width: 80vw;
  margin: 20px;
  margin-top: 60px;
 /* min-width: 300px;*/
 max-width: var(--max-width); 
}

 .produit-card{
 /* max-width: 80vw;
  max-width: 600px;
  overflow: hidden;*/
 }


 .flex-element{
  display: flex;
  align-items: center; 
  justify-content:space-between;
}

.sized-field{
  /*min-width: 270px;*/
  width: 90%;
  max-width: 260px;
}

 .width-limited{
  max-width: 70vw;
 }

 .search-card{
    min-height: 460px;
   /* height: 60vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  /*  width: 90vw; 
    /*  max-width: var(--max-width); */
  /*  margin-bottom: 20px;*/
   /* padding: 4vw; 
    border-radius: 40px;*/
  /*  background-image: url("/images/img-form-sized.webp");*/
  /*  background-size: cover;
    object-position: center; */

 }



 .second-card{
    overflow: hidden;
 }
 
 .text-overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 20px;
   
 }
 
 .text-overlay h2 {
   font-size: 35px;
   text-align: center;
   font-weight: bold;
   line-height: 1.2;
   text-transform: uppercase;
   font-family: 'Steelfish Rg', 'helvetica neue',
               helvetica, arial, sans-serif;
   font-weight: 900;
 }
 
 .text-overlay p {
   font-size: 20px;
   margin-bottom: 0;
   text-align: center;
   font-weight: bold;
   line-height: 1.4;
   font-family: 'Steelfish Rg', 'helvetica neue',
               helvetica, arial, sans-serif;
   font-weight: 400;
 }

 .input-group{
  margin: 5px;
 }
 

.chartBox {
  max-width: 230px;
  max-height: 230px;
  padding: .2em;
  margin: .2em;
  border-radius: 20px;
  border: solid 2px rgba(50, 50, 50, 1);
  background: white;
}

.title{
  background-color: #05124d;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 5px;
  width: 70vw;

}


.label-with-format{
 /* width: 100px;*/
}

.field-with-format{
  text-align: center;
 
}

.middled{
  display: flex; 
  align-items: center;
  justify-content: center;
}


.btn-reseaux {
  text-decoration: none;
 /* color: rgb(57, 57, 60);
/*  background-color: rgb(204, 46, 102);*/
  padding: .4em;
  border-radius: .4em;
  text-align: center;
  margin: .2em;
  display:inline-block;
  font-weight: bold;
  font-size: xx-large; 
}

.full-width-table {
  width: 100%;
}

.container-margin{
  margin-top: 60px;
  margin-bottom: 60px;
}


.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  /*gap: 5px;*/
}

.btn-action{
  margin: 5px;
  padding: 10px;
  size: medium;
}

.map {
  width: 90%;
  height: 400px;
}


.contact-card{
  background-image: url(/images/theoule.webp);
  background-position: cover;
  width: 90vw;
  max-width: 600px; 
}


.top-rounded{
  border-radius: 5px 5px 0 0; /* Adjust this value to control the roundness */
}


/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #010c48; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body::-moz-scrollbar {
  width: 10px;
}

body::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

body::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.title-styled{
  color: white; /* var(--primary-color);*/
  font-family: 'Capriola', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  font-size: 24px;
  text-shadow: rgb(0, 0, 0) 4px 4px 14px;
}

.form-container{
  background: rgba(255, 255, 255, 0.4); 
  border-radius: 20px;
  margin: 20px;
  padding: 20px; 
  
  height: 50%;
  min-height: 500px;

  width: 70%;
  min-width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container:hover {
  background-color: rgba(252, 252, 252, 0.5);
  color: black;
}


.video-container {
  position: relative;
  width: 100%;
  height: 95vh; /* Set the height to full viewport height */
  overflow: hidden;
  border-bottom: solid black 5px;
}

.video-container video {
  min-width: 100%; /* Ensure video covers full width */
  min-height: 100%; /* Ensure video covers full height */
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container span {
/*    max-width: 80%; */
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.btn-text-styled{
  text-transform: uppercase; 
}

.titre-footer{
  color: white;
  text-transform: uppercase;
  text-decoration: underline 2px;

}

.footer-colored{
  background-color: #383737;
}

.form-recherche-input{
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.large-btn-sized{
  width: 90%;
  max-width: 500px;
}



.border-black {
  border: 5px solid black;
}
.sous-titre-topic{
  font-size: x-small;
}
.text-medium-sized{
  font-size: x-small;
}

.bloc-topic{
  overflow: hidden; /* Prevent child elements from going outside the div */
}

.bloc-topic img {
  transition: filter 0.3s ease; /* Apply filter transition for the image */
}

/* Apply grayscale filter on image when hovering */
.bloc-topic:hover img {
  filter: brightness(40%); /* Adjust the percentage to control darkness (e.g., 70% makes it darker) */
  transform: scale(1.1); /* Adjust the scale factor for zooming in (1.1 for 10% zoom) */
  transition: 0.6s ease; /* Add a transition for a smooth effect */

}

/* Change the vertical position of text on hover */
.bloc-topic .position-absolute {
transform: translateY(0%); /* Adjust the percentage to control the vertical position */
transition: 0.6s ease-in-out; /* Add a transition for a smooth effect */
}

/* Reset the vertical position on hover */
.bloc-topic:hover .position-absolute {
transform: translateY(-40%); /* Adjust if needed */

}

/* Increase text size on hover */
.bloc-topic:hover .text-medium-sized {
transition: 0.5s ease-in-out; /* Add a transition for a smooth effect */
font-size: 20px; /* Set the larger font size for hover state */
}

/* Apply the grayscale filter and zoom effect on tap for mobile devices */
.bloc-topic img:active {
  filter: brightness(40%); /* Adjust the percentage to control darkness */
  transform: scale(1.1); /* Adjust the scale factor for zooming in */
  transition: 0.6s ease;
}

/* Change the vertical position of text on tap for mobile devices */
.bloc-topic img:active + .position-absolute {
  transform: translateY(-40%); /* Adjust if needed */
  transition: 0.6s ease-in-out;
}

/* Increase text size on tap for mobile devices */
.bloc-topic img:active + .position-absolute + .text-medium-sized {
  transition: 0.5s ease-in-out;
  font-size: 20px; /* Set the larger font size for active state */
}

/* Use a media query to apply desktop styles only on screens wider than a certain width (e.g., 768px) */
@media (min-width: 769px) {
  /* Reset mobile-specific styles for desktop */
  .bloc-topic img:active,
  .bloc-topic img:active + .position-absolute,
  .bloc-topic img:active + .position-absolute + .text-medium-sized {
    filter: none;
    transform: none;
    transition: none;
  }
}
