<% description "Contactez-nous chez Galayacht. Nous sommes là pour répondre à toutes vos questions concernant la location de bateaux, les réservations, et bien plus encore. Utilisez nos coordonnées pour entrer en contact avec notre équipe dévouée." %>
<% keywords "Nous contacter, Service client, Réservation de bateau, Demande d'information, Support client, Assistance clientèle, Coordonnées, Questions, Comment nous joindre" %>


<h1 class="h1-styled my-2"> Formulaire contact </h1>

<div class="card my-4 p-4 contact-card">  

  <%= render "form", demande: @demande %>

</div>

  <%= render "shared/contacts" %>


  <div>
    <%#= link_to "Accueil", root_path %>
  </div>