<% description "Contactez-nous chez Galayacht. Nous sommes là pour répondre à toutes vos questions concernant la location de bateaux, les réservations, et bien plus encore. Utilisez nos coordonnées pour entrer en contact avec notre équipe dévouée." %>
<% keywords "Nous contacter, Service client, Réservation de bateau, Demande d'information, Support client, Assistance clientèle, Coordonnées, Questions, Comment nous joindre" %>



<div class="video-container">
  <div data-controller="video">
    <video autoplay loop muted playsinline id="video-background"
           src="https://res.cloudinary.com/dukne3lhz/video/upload/v1695538962/sea-card-mini-muted_chqs2u.mp4" 
           type="video/mp4" id="video-background" data-video-target="video">
    </video>



  </div>

  <span class="d-flex flex-wrap justify-content-center">
    <div class="form-container d-inline">
      <h1 class="my-4"> Formulaire contact </h1>
      <div class="container text-center" style="max-width: 600px;"> 
        <%= render "form", demande: @demande %>
      </div>
    </div>
  </span>
</div>


<div class="container-fluid p-4 bg-dark">
  <%= render "shared/contacts" %>
</div>

  <div>
    <%#= link_to "Accueil", root_path %>
  </div>