

<div class="card my-4 p-4 contact-card">  
  <h4 class="text-center text-light fw-bold">Contact</h4>

  <%= render "form", demande: @demande %>

  <br>

</div>


  <div>
    <%#= link_to "Accueil", root_path %>
  </div>