<div data-controller="autohide" style="position: fixed; z-index: 2; ">
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="alert <%= key == "error" ? "alert-danger" : "alert-success" %>">
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>
