<!DOCTYPE html>
<html>
  <head>
    <title>Galayachts</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta https-equiv="Content-Security-Policy" content="default-src 'self'">

    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= favicon_link_tag asset_path('galayachts-logo.jpg'), :rel => 'icon', :type =>  'image/png' %>

  <%= wicked_pdf_stylesheet_link_tag "document" %>
  <%#= wicked_pdf_stylesheet_link_tag "bootstrap" %>

  </head>
  <body class="body-doc">
    <div id="header">
    </div>
    <%= yield %>
  </body>

</html>